@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body
{
  background-color: #121212;
  letter-spacing: 0.5px;
  /*font-family: "Source Sans Pro", Arial, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

.CodeMirror {
  font-size: 20px !important;
  position: relative;
  background: rgb(255, 255, 255);
  min-width: 90px;
  padding: 48px 32px;
}
